[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
click = "*"
python-dotenv = "*"
pymysql = "*"
requests = "*"

[dev-packages]
pytest = "*"
daraja-mpesa = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
